/* _content/SleighList/Views/Home/Index.cshtml.rz.scp.css */
*[b-acp5oohxnx]{
    padding: 0;
    margin: 0;
}

.header_login[b-acp5oohxnx]{
    /* background-image: url(); */
    background-color: red;
    height: 76vh;
}
/* _content/SleighList/Views/Item/Index.cshtml.rz.scp.css */
/* _content/SleighList/Views/Shared/_Layout.cshtml.rz.scp.css */
/* _content/SleighList/Views/Usuario/Index.cshtml.rz.scp.css */
