/* _content/SleighList/Views/Home/Index.cshtml.rz.scp.css */
*[b-acp5oohxnx]{
    padding: 0;
    margin: 0;
}

.header_login[b-acp5oohxnx]{
    /* background-image: url(~/images/Group17.png); */
    background-image: url(/images/gatohome.png);
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    height: 650px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.header_titulo[b-acp5oohxnx]{
    width: 700px;
    color: white;
}

main[b-acp5oohxnx]{
    height: 700px;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

/* _content/SleighList/Views/Item/Index.cshtml.rz.scp.css */
/* _content/SleighList/Views/Shared/_Layout.cshtml.rz.scp.css */
/* _content/SleighList/Views/Usuario/Index.cshtml.rz.scp.css */
