*{
    padding: 0;
    margin: 0;
}

.header_login{
    background-color: red;
    background-image: url(/wwwroot/images/Group\ 17.png);
    background-image: url(/wwwroot/images/gatohome.png);
    height: 320;
    display: flex;
    flex-direction: column;
    justify-items: center;
}


main{
    display: flex;
    flex-direction: center;
    justify-content: center;
}