*{
    padding: 0;
    margin: 0;
}

main{
    width: 100%;
    height: 80px;
    
}

.header_login{
    /* background-image: url(~/images/Group17.png); */
    background-image: url(/images/gatohome.png);
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    height: 650px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.header_titulo{
    width: 700px;
    color: white;
}

main{
    height: 700px;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

main form{
    display: flex;
}
