<header class="header_login">
    <h1 style="display: none;">Tela login</h1>
    <img class="img_login" src="~/images/logo.png" alt="">
    <p class="header_titulo">Deixe a correria para o Papai Noel, organize tudo com o SleighList.</p>
</header>
<main class="main_login">
    @* TODO O MEU CONTEUDO DE DENTRO *@
    <form action="">
        <h1>Acesse sua conta</h1>
        <div class="label_input">
            <label for="email">E-mail</label>
            <input type="email" name="email">
        </div>
        <div class="label_input">
            <label for="senha">Senha</label>
            <input type="password" name="senha">
        </div>
        <button type="submit">Acessar</button>
    </form>
</main>
