*[b-acp5oohxnx]{
    padding: 0;
    margin: 0;
}

main[b-acp5oohxnx]{
    width: 100%;
    height: 80px;
    
}

.header_login[b-acp5oohxnx]{
    /* background-image: url(); */
    background-color: red;
    height: 76vh;
}

form[b-acp5oohxnx]{
    display: flex;
    justify-content: center;
    align-items: center;
}